        <link rel="stylesheet" href="/css/user_profile.css">
        
        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="160"height ="160" style="border-radius: 10px; background-image:auto;"> 
        <h1>
            Codeial / Profile Page
        </h1>
        <% if(user.id == profile_user.id){ %>
            <!-- if user matches then show the form -->
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                <label >Name:</label>   <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required> <br><br>
                <label >Email:</label>   <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required><br><br>
                <label >password:</label>  <input type="text" name="password"placeholder="Password" value="<%= profile_user.password %>" required>
                <label >File:</label>  <input type="file" name="avatar"placeholder="profile Picture" value="<%= profile_user.password %>" required>
                <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit"  value="Update">
            </form>
            
        <%}else{%>    
            <!-- else show only the profile info -->
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
        <%} %>
